@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,700&display=swap");
@import "reset.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", "Open Sans", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  height: 100%;
  color: white;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

.check {
  text-decoration: line-through;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
